<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>

        <div class="search-bar">
            <form action="#" th:action="@{/vote/search}" method="get">
                <input type="text" name="keyword" placeholder="키워드를 입력하세요" required />
                <button type="submit">검색</button>
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vote : ${votes}">
                <td th:text="${vote.id}"></td>
                <td th:text="${vote.title}"></td>

                <td>
                    <span th:if="${member != null}">
                        <span th:if="${reVoteableVotes.contains(vote)}">
                            <form th:action="@{/vote/vote/{id}(id=${vote.id})}" method="get">
                                <button type="submit" class="text-warning">재투표 가능</button>
                            </form>
                        </span>
                        <span th:if="${!reVoteableVotes.contains(vote)}">
                            <form th:action="@{/vote/vote/{id}(id=${vote.id})}" method="get">
                                <button type="submit" class="btn btn-primary">투표</button>
                            </form>
                        </span>
                    </span>
                </td>

                <td th:if="${vote.member.id == member.id}">
                    <form th:action="@{/vote/delete/{id}(id=${vote.id})}" method="get">
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </td>

                <td>
                    <form th:action="@{/vote/result/{id}(id=${vote.id})}" method="get">
                        <button type="submit">투표 결과</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="create-poll">
        <button type="button" onclick="location.href='/vote/create'">투표 작성</button>
    </div>

    <div class="logout">
        <button type="button" onclick="location.href='/'">로그아웃</button>
    </div>
</div>
</body>
</html>
